.ant-checkbox-checked .ant-checkbox-inner {
  background-color: black;
  border-color: black;
}
.ant-checkbox-checked:hover .ant-checkbox-inner:hover {
  background-color: black;
  border-color: black;
}

.uploaded-img-icon{
  display: none;
}

.uploaded-img:hover .uploaded-img-icon{
  display: block;
}

.max-h-screen-topbar{
  max-height: -moz-calc(100vh - 104px);
/* WebKit */
max-height: -webkit-calc(100vh - 104px);
/* Opera */
max-height: -o-calc(100vh - 104px);
/* Standard */
max-height: calc(100vh - 104px);
}